.page-header{
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.lead{
    font-size:$l-size;
}

span{
    font-weight: bold;
}

.page-header-action{
    margin-top: $l-size;
    margin-bottom: $m-size;
}